<template name="home">

  <div class="template-container">

    <div class="content-container">
      <img src="/images/niels-bantilan.jpeg" alt="niels" class="img-circle main-image">
      <h1 class="main-heading">NIELS BANTILAN</h1>
      <h4 class="tagline">Data Scientist, Developer, Public Health Geek.</h4>
      <div class="divider"></div>
      
      <a href="{{pathFor route='portfolio'}}" data-toggle="tooltip" data-original-title="Portfolio"><i id="portfolio" class="fa fa-bars"></i></a>
      <a href="https://github.com/cosmicBboy" target="_blank" data-toggle="tooltip" data-original-title="Github"><i rel="tooltip" id="github" class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/nbantilan" target="_blank" data-toggle="tooltip" data-original-title="LinkedIn"><i id="linkedin" class="fa fa-linkedin-square"></i></a>
      <a href="https://twitter.com/cosmicBboy" target="_blank" data-toggle="tooltip" data-original-title="@cosmicBboy"><i id="twitter" class="fa fa-twitter-square"></i></a>
      <a href="mailto:niels.bantilan@gmail.com" data-toggle="tooltip" data-original-title="niels.bantilan@gmail.com"><i id="email" class="fa fa-envelope"></i></a>
    </div>
  </div>

</template>