@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto Slab');

body, html {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Montserrat';
}

h1 {
  font-size: 50px;
}

h4 {
  font-family: 'Roboto Slab';
  color: #555;
}

p, ul {
  font-family: 'Raleway';
  font-size: 18px;
}

span {
  font-family: 'Open Sans';
}

ul {
  text-align: left;
}

.content-container a {
  color: #333;
  font-size: 40px;
  padding: 20px 20px 0px 20px;
}

.content-container a:hover,
.content-container a:focus {
  color: rgb(94, 76, 141);
  text-decoration: none
}

img.main-image {
  width: 200px;
}

h4.tagline {
  font-size: 22px;
  color: #333;
}

.content-container {
  padding-top: 75px;
  text-align: center;
}

.divider {
  width: 450px;
  height: 15px;
  background-color: rgb(94, 76, 141);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tooltip-inner {
  background-color: rgb(94, 76, 141);
  font-size: 15px;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgb(94, 76, 141);
}

.items-container {
  max-width: 600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-description,
.chart-header {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-description p {
  text-align: justify;
}

.content-container.portfolio .portfolio-description p a,
.content-container.portfolio .portfolio-description ul a {
  font-size: 18px;
  text-decoration: underline;
  line-height: 35px;
  margin-bottom: 25px;
  padding: 0;
}

.portfolio .panel {
  text-align: left;
}

.portfolio .panel a {
  padding: 0;
}

.panel-default {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.2);
}

.panel-default h3 {
  color: rgb(94, 76, 141);
}

.panel-default p {
  font-size: 16px;
}

.panel-default .tags {
  line-height: 30px;
}

.panel-body {
  background-color: #eee;
  padding-left: 30px;
  padding-bottom: 20px;
}

.content-container a .panel-body:hover {
  background-color: rgb(193, 188, 208);
}

.label-default {
  font-size: 12px;
  background-color: rgb(94, 76, 141);
}

.dropdown-menu > li > a {
  font-size: 16px;
  line-height: 2;
}

.chart-header {
  text-align: left;
  max-width: 850px;
}

.chart-header .btn-group {
  float: left;
}

@media screen 
and (min-width : 320px) 
and (max-width : 480px) {

  h1 {
    font-size: 30px;
  }

  .content-container {
    padding-top: 25px;
  }

  img.main-image {
    width: 175px;
  }

  h4.tagline {
    font-size: 20px;
  }

  .divider {
    width: 100%;
  }

  .content-container a {
    font-size: 35px;
    padding: 10px 10px 0px 10px;
  }

}

@media screen 
and (min-width : 480px) 
and (max-width : 768px) {

}

@media screen 
and (min-width : 768px) 
and (max-width : 900px) {

}
